.Dashboard {
    min-height: 100vh;
    width: 100vw;
    background-color: #282828;
    padding: 2vh;
}

.Dashboard {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.Dashboard.true {
    opacity: 1;
}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 2vh;

    transition: opacity 0.3s ease;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #282828;
}
.Loading > img {
    height: 2vh;
    width: 2vh;
    margin-right: 20px;
    animation: spin 1s linear infinite;
}
.Loading.fadeOut {
    opacity: 0;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

.middle {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.middle > .btn {
    height: 8vh;
    width: 30vh;
    background-color: #393939;
    border-radius: 2vh;
    margin: 3vh;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    cursor: pointer;
}   

/* Create/Join menus */
.createOrg {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    min-height: 60vh;
    max-height: 90vh;
    overflow: hidden;
    width: 70vw;
    border-radius: 4vh;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 10vh;
    color: white;
    z-index: 1;
    display: none;
}
.createOrg.true {
    display: flex;
}
.createOrg > .field {
    width: 100%;
    margin: 2vh;
    color: rgb(255, 255, 255);
    font-size: 1.5vh;
}
.createOrg > .closeCreateOrg {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 4vh;
    cursor: pointer;
}
.createOrg > .submitCreateOrg {
    margin-top: 2vh;
}
.createOrg > .submitCreateOrg > .btn {
    background-color: #426293;
}
.createOrg > .field > h3 {
    font-weight: 200;
    margin-bottom: 1vh;
}
.createOrg > .field > h3 > span {
    font-size: 1.4vh;
    font-weight: bold;
    color: grey;
}
.createOrg h1 {
    font-size: 3vh;
}
.createOrg > .field > .Input {
    background-color: rgb(70, 70, 70);
}

.hamIcon {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 3vh;
    cursor: pointer;
}