.Editor {
    width: 100%;
}

.table {
    margin-top: 2vh;
    border: 1px solid #5C5C5C;
    border-radius: 1vh;
    width: 100%;

}
table {
    color: white;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 10vh;

    
}
@media screen and (max-width: 1430px) {
    table {
        width: 1500px;
    }
    .table {
        overflow-x: scroll;
    }
}

th, td {
    width: 12.5%;
    height: 90px;
    border: 1px solid #5C5C5C;
}

td > .fillSpace {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fillSpace.userName {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vh;
}
.fillSpace.userName > h1 {
    font-size: 2vh;
    line-height: 2vh;
}
.fillSpace.userName > p {
    color: #969696;
    font-weight: bold;
    font-size: 1.5vh;
}

.bubbleFill {
    height: calc(100% - 1vh);
    width: calc(100% - 1vh);
    border-radius: 2vh;
    font-size: 1.3vh;
    position: relative;
}

.bubbleFill.notAvail {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #654747;
    font-size: 1.5vh;
    background-color: rgb(48, 26, 26);
    cursor: pointer;
}

.shift.bubbleFill {
    background-color: #545775;
    padding-left: 1vh;
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.shift.bubbleFill > p.timeCont {
    font-size: 1vh;
    margin-top: 1vh;
    margin-bottom: 0.3vh;
}
.shift.bubbleFill > p.timeCont > .time {
    font-size: 1.5vh;
    font-weight: bold;
}
.shift.bubbleFill > .location {
    font-size: 1.2vh;
    font-weight: bold;
}
.shift.bubbleFill > .notes {
    font-size: 1vh;
    width: 100%;
    padding-right: 0.1vh;
    color: #AFAFAF;
}
.shift.bubbleFill > .conflict {
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
    height: 2.5vh;
    width: 2.5vh;
    background-color: #CD7676;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.shift.bubbleFill > .conflict.notAvail {
    display: flex;
}
.shift.bubbleFill > .conflict > img {
    height: 1.5vh;
    width: 1.5vh;
}
.shift.bubbleFill > .trash {
    position: absolute;
    top: 0;
    right: -0.5vh;
    transform: translateY(20%);
    display: flex;
    background-color: #545775;
    border-radius: 1vh;
    z-index: 1;
    cursor: pointer;
    box-shadow: -0.3vh 0.3vh 0.1vh rgba(0, 0, 0, 0.503);
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.shift.bubbleFill.active > .trash {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
.shift.bubbleFill > .trash > .block {
    height: 3vh;
    width: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shift.bubbleFill > .trash > .block > img {
    height: 2vh;
}

td > .fillSpace > .addShift {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: #676767;
    font-weight: 300;
    cursor: pointer;
}
td > .fillSpace > .addShift > p {
    font-weight: 500;
    color: #7d7d7d;
    font-size: 1.5vh;
}
td > .fillSpace > .addShift > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vh;
}
td > .fillSpace > .addShift > .timeCont {
    font-size: 1.1vh;
}
td > .fillSpace > .addShift > .timeCont > .time {
    font-size: 1.3vh;
}

.options {
    margin-top: 2vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 100vw;
    height: 13vh;
    margin-bottom: calc(6vh - 13vh);
}

.option {
    margin-right: 1vh;
    background-color: #424242;
    border-radius: 1vh;
    color: white;
    position: relative;
    height: 6vh;
    flex-shrink: 0;
}

.option.date {
    width: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.option.date.active {
    background-color: #426293;
}
.option.date > p {
    font-size: 2vh;
    font-weight: 900;
}
.option.date > span {
    font-size: 1.5vh;
}
.option.date > img {
    height: 2vh;
    position: absolute;
    top: 50%;
    right: 1vh;
    transform: translateY(-50%);
}

.option.switchWeek {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
}
.option.switchWeek > div {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option.switchWeek > div.arrow {
    width: 3vh;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    
}
.option.switchWeek > div.arrow.left {
    transform: translateY(-50%) rotate(180deg);
    left: 1vh;
}
.option.switchWeek > div.arrow.right {
    right: 1vh;
}
.option.switchWeek > div.arrow > img {
    height: 1.5vh;
}
.option.switchWeek > div.weekText {
    text-align: center;
    font-size: 2vh;
    font-weight: 900;
}

.option.addShift {
    background-color: #426293;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vh;
    font-size: 2vh;
    font-weight: 900;
    cursor: pointer;
}

.addShiftForm {
    width: 90vw;
    max-width: 100vh;
    position: fixed;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3D3D3D;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 1vh;
    z-index: 3;
    box-shadow: -0.5vh 0.5vh 1.5vh rgba(0, 0, 0, 0.543);
    transition: top 0.5s cubic-bezier(.39,1.39,.66,1);
}
.addShiftForm.true {
    top: 5vh;
}
.addShiftForm > h1 {
    margin-bottom: 3vh;
}
.addShiftForm > .time {
    display: flex;
    height: 7vh;
    align-items: center;
    font-size: 2vh;
    width: 80%;
}
.addShiftForm > hr {
    width: 95%;
    border: 1px solid #D9D9D9;
    margin: 2vh 0;
}
.addShiftForm > .addShiftRow {
    display: flex;
    font-size: 2vh;
    align-items: center;
    height: 6vh;
    width: 80%;
}
.addShiftForm > .addShiftRow > p {
    margin-right: 2vh;
    width: 20vh;
}
.addShiftForm > .buttons {
    display: flex;
    width: 80%;
    justify-content: flex-end;
}
.addShiftForm > .buttons > .button {
    background-color: #545775;
    padding: 1vh 2vh;
    border-radius: 1vh;
    box-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.514);
    margin-top: 3vh;
    cursor: pointer;
}
.addShiftForm > .buttons > .button.makeShift {
    margin-right: 2vh;
}
.addShiftForm > .buttons > .button.cancelShift {
    background-color: grey;
}

.RecentShifts {
    position: absolute;
    width: 120%;
    background-color: #1F1F1F;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    font-size: 1.5vh;
    border-radius: 1vh;
    padding: 1vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 1;
    border: 1px solid rgb(90, 90, 90);
    cursor: default;
}
.RecentShifts.true {
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, 0);
}
.RecentShifts > p {
    color: #E0E0E0;
    font-size: 1.2vh;
}
.RecentShifts > .shiftSize {
    background-color: #323232;
    border-radius: 0.5vh;
    height: 4vh;
    width: 100%;
    cursor: pointer;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1vh;
}
.RecentShifts > .shiftSize.button {
    background-color: #426293;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RecentShifts > .shiftSize > h4 {
    font-size: 1.5vh;
}
.RecentShifts > .shiftSize > p {
    font-size: 1.5vh;
}
.RecentShifts > .shiftSize > p > span {
    font-size: 1.2vh;
}
.RecentShifts > .closeRecentShifts {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 1.5vh;
    cursor: pointer;
}