
.DropdownCont {
    height: 6vh;
    overflow-y: visible;
}
.Dropdown {
    height: fit-content;
    width: 100%;
    color: white;
    position: relative;
    cursor: pointer;
    transition: clip-path 0.3s ease;

    clip-path: polygon(0 0, 100% 0%, 100% 6vh, 0 6vh);
}
.Dropdown.visible {
    clip-path: polygon(0 0, 100% 0%, 100% 110%, 0 110%);
}
.dropitem {
    height: 6vh;
    width: 30vh;
    margin-bottom: 0.5vh;
    border-radius: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    padding-left: 2vh;
    font-size: 2vh;

    transition: box-shadow 0.3s ease;
    box-shadow: -0.3vh 0.5vh 0.3vh 0.1vh rgba(0, 0, 0, 0);
}
.Dropdown.visible > .dropitem {
    box-shadow: -0.3vh 0.5vh 0.3vh 0.1vh rgba(0, 0, 0, 0.503);
}
.arrow {
    height: 1vh;
    transition: transform 0.3s ease;
    position: absolute;
    top: 3vh;
    right: 1vh;
}